<%= form_tag students_path do %>
  <label>Student Form:</label><br>
  <%= text_field_tag :'student[first_name]' %><br>
  <%= text_field_tag :'student[last_name]' %><br>
<<<<<<< HEAD

  <%= submit_tag "Submit Student" %>
<% end %>
=======
 
  <%= submit_tag "Submit Student" %>
<% end %>
>>>>>>> 3d9b60cabe8bf1946275fb70c41dc8381ca09258
